body{
    font-family: 'Roboto Slab', sans-serif;
    background-color: #1f1f1f; /*MUDAR MUDAR MUDAR MUDAR*/
    color: #fff;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------ text-fonts ------*/

@font-face {
    font-family: Smooch;
    src:url(/Projeto/Fonts/static/SmoochSans-ExtraLight.ttf);
}
@font-face {    
    font-family: Caveat;
    src: url(/Projeto/Fonts/static/Caveat-Bold.ttf);
}
@font-face{
    font-family: Teko;
    src: url(/Projeto/Fonts/static/Teko-Bold.ttf);
}

/* ------ header ------*/

#myimage{
    cursor: pointer;
}

#myhub{
    cursor: pointer;
}

#myhome{
    width: 25px;
    height: auto;
    cursor: pointer;
}

#mybio{
    width: 25px;
    height: auto;
    cursor: pointer;
}

#mymerch{
    width: 25px;
    height: auto;
    cursor: pointer;
}

#myplaylist{
    width: 25px;
    height: auto;
    cursor: pointer;
}

#myabout{
    width: 25px;
    height: auto;
    cursor: pointer;
}

.container{
    max-width: 1300px;
    margin:auto;
    background-color: #ffffff;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: black;
}

.logo img{
    padding-top: 50px;
    width: 150px;
}
.navbar{
    display: flex;
    align-items: center;
}

nav{
    flex:1;
    text-align: right;
    padding-bottom: 45px;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.shop{
    padding-bottom: 45px;
}
/*------ menu icon ------*/

.menu-bar{
    width: 28px;
    margin-left: 20px;
    display: none;
    padding-bottom: 45px;
}

/*------ media query for menu ------*/

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color:#fff
    }
    .menu-bar{
        display: block;
        cursor: pointer;
    }
}

/*------ media query for less than 600 screen size ------*/

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }

    .col-2, .col-3, .col-4, .col-4-1, .col-4-2{
        flex-basis: 100%;
    }
}

/*------ about us ------*/


.aboutus{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

header{
    background-color: 333;
    padding: 20px;
    text-align: center;
}

.section{
    padding: 40px;
    text-align: center;
}

.h1{
    color: #1f1f1f;
    font-size: 2.5em;
}

p{
    line-height: 1.6;
    font-size: 1.2em;
}

.team-member{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}

.team-member img {
    border-radius: 50%;
    margin-bottom: 20px;
}

